body {
    font-family: sans-serif;
      font-size:17px;
      background: white;
      color: black;
      text-align: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    .nombres{
     color:#CC0E00; 
    }
    .table{
       text-align: center;
    }
    #navegacion{
     background:black;
      position:sticky;
      display: flex;
      justify-content: space-around;
    }
    .nav-link{
    color:#CC0E00; 
    font-size:17px;
    }
    
    #menu{
      position:relative;
      top:0px;
      background-color:#CC0E00;
      height:300px;
      padding:10px;
      text-align: center;
      align-items:center;
    }
    footer{
      background:#CC0E00;
      width:100%;
      height:50px;
    }
    #redes{
    display:flex;
      align-items:center;
      justify-content:space-around;
      grid-area: 4 / 5 / 5 / 7; 
      padding-left:120px;
    } 
    #suscripcion{
      display:flex;
      justify-content:center;
      align-items:center;
      background:#CC0E00;
      height:140px;
      footer{ background-image:url();
      width:100%;
      height:260px;
      background-size:cover;
      }
    }    